/* .sizeLimitImage {
  width: 50px;
  height: 40px;
} */

.sizeLimitImage {
  height: 20px;
  width: 30px;
  overflow: hidden;
}
.sizeLimitImage img {
  max-width: 100%;
  display: block;
  object-fit: fill;
}
