<div class="widget search">
    <header>
      <h3 class="h6">Search the blog</h3>
    </header>
    <form action="#" >
      <div class="form-group">
        <input type="searchText" name="searchText" [(ngModel)]="searchText" placeholder="Type the title of the post" >
        <button type="submit" class="submit"><i class="icon-search"></i></button>
      </div>
      <ul style="position: absolute;" class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <li class="list-group-item" *ngFor="let post of blogPosts | appFilter: searchText">

        <span style="cursor: pointer;"*ngIf="post._id" (click)="searchClicked(post)">{{post.title}}</span>
        </li>
      </ul>
    </form>
  </div>
