<section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2>Latest from the blog</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row">
        <div *ngFor="let post of posts" class="post col-md-4">
            <div class="post-thumbnail"><a [routerLink]="['/post', post._id]"><img src="{{post.featuredImage}}" alt="..." class="img-fluid imgSize"></a></div>
            <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
                <div class="date">{{post.postDate | date:mediumDate}}</div>
                <div class="category"><a [routerLink]="['/blog']" [queryParams]="{ category: post.category }">{{post.category}}</a></div>
            </div><a routerLink="/post">
                <h3 class="h4">{{post.title}}</h3></a>
                <div class="text-muted" [innerHTML]="post.post.substring(0,50)"></div>
            </div>
        </div>
    </div>
</div>
</section>